:root {
  --purple-dark: #5A4485;
  --purple-darker: #47366D;
  --blue-dark: #1D2D46;
  --blue-mid: #2D3B6A;
  --blue-light: #384589;
}
body {
  background-color: var(--blue-dark);
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: var(--purple-dark);
  color: white;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.artwork-preview {
  background-color: var(--blue-mid);
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

